body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


div {
    margin: 10px;
    padding: 5px;
    /* background-color: yellow; */
    /* border: 2px solid red; */
    display: inline-block;
    position: relative
}

#mainbox {
    background: #fff;
    margin-left: 450px;
    margin-top: 15px;
    width: 400px;
    height: 800px;
    box-shadow: 0 10px 20px #12151b0f, 0 2px 6px #12151b0f, 0 0 1px #12151b0f;
}

#login_with_google,#logo {
    margin: 10px;
}

#login_deaitels,
#login_with_google {
    margin-left: 25px;
    margin-top: 0px;
    width: fit-content;
    /* background-color: blue; */
}

#login_deaitels {
    padding: 0px;
}

.input_box {
    margin-top: 50px;

    width: 340px;
    height: 43px;
    border: 1px solid #bcc5d3;
    border-radius: 5px;
    font-size: 1.3rem;


}

::placeholder {

    color: rgb(95, 94, 94);
    font-size: 13px;
    text-transform: uppercase;
}

hr {
    width: 100%;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #1772eb;
    color: aliceblue;
    width: 345px;
    height: 50px;
    font-size: 1.5rem;
}

button:hover {
    background-color: #1362c9;
    cursor: pointer;
}

.input_box:hover {
    border-color: #3899e9;
}

#glogo {
    width: 300px;
    height: 65px;

}

#logo {
    width: 70px;
    height: 70px;
    margin-left: 70px;

}

a {
    text-decoration: none;
   
}

#glogo:hover {
    background-color: rgba(245, 238, 238, 0.863);
}